/* ---------------------------------------------------------------------------- */
/* ------------------ Theme specific classes to match Fusion ------------------ */
/* ---------------------------------------------------------------------------- */

#footer_debug {
    color: #c8c8c8 !important;
}

.badge {
    color: #c8c8c8 !important;
}

.pm_label-danger {
    background-color: #e51c23;
    font-size: 11px !important;
}

.pm_label {
    margin: -7px 20px;
    position: absolute !important;
    z-index: 9999 !important;
    display: inline;
    padding: .2em .6em .3em;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.forum-description {
    color: #c8c8c8 !important;
}

.forum-link {
    color: #c8c8c8 !important;
}

.forum_profile_link {
    color: #c8c8c8 !important;
}

.file-caption-name {
    color: #c8c8c8 !important;
}

.profile-link {
    color: #c8c8c8 !important;
}

.post-item {
    border: 1px solid #0c0d0e !important;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #292c31 !important;
}

.post-item .post_profiles {
    background: #1d1c1c !important;
}

.post-message {
    border-top: 1px solid #0c0d0e !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 15px;
}

.download-index-item, .text-dark {
    color: #777 !important;
}

.bbcode_input {
    padding-left: 10px;
    background-color: #292c31;
    border: 1px solid #0c0d0e;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

textarea, .form-control, select, .textbox {
    border-color: #1e2023 !important;
    background-color: #292c31 !important;
    color: #f1f1f1 !important;
}

.preview-response {
    background-color: #292c31;
}

/* darken Select2  */
.select2-container-multi .select2-choices {
    border: 1px solid #000 !important;
    background-color: #292c31 !important;
    background-image: none !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    box-shadow: none !important;
    background-color: #2e3338 !important;
    background-image: none !important;
    border: 1px solid #000 !important;
}

.select2-choices, .select2-choices li {
    overflow: hidden !important;
    color: #fefefe !important;
}

.select2-drop {
    background: #33363c !important;
    color: #fff !important;
    border: 1px solid #000 !important;
    box-shadow: none !important;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: #33363c !important;
}

.select2-result-label table {
    background-color: transparent !important;
}

.select2-results .select2-highlighted {
    background: #080808 !important;
}

.select2-offscreen {
    display: none;
}

.select2-container {
    width: 100% !important;
}

/* helper */
.center-all {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------Breadcrumb--------------------------------- */
/* ---------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Menu------------------------------------ */
/* ---------------------------------------------------------------------------- */

#menu {
    border-radius: 0;
    padding: 20px 0;
    background: #1B1B1B;
}

.navbar-inverse {
    background: #2b2f35;
    box-shadow: 0 10px 10px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#menu #heading {
    float: left;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    margin-top: 10px;
}

#menu .navbar-brand {
    display: block;
    height: auto;
    padding: 0 18px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#menu .navbar-brand img {
    max-width: 180px;
    width: 100%;
}

#menu a.navbar-brand-link img {
    max-height: 100px;
}

#menu .dropdown-menu {
    background-color: #fff;
    border: none;
    border-radius: 0;
}

#menu ul.nav .dropdown-menu li a {
    color: #333;
    font-size: 15px;
}

#menu ul.nav .dropdown-menu li a:hover {
    color: #23b1c4;
}

#menu .dropdown-inner a {
    min-width: 140px;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #000;
}

#menu li.dropdown:hover > a, #menu li.dropdown:focus > a, #menu li.dropdown:active > a {
    color: #23b1c4;
    background: none;
}

.navbar {
    margin: 0;
}

#menu ul.nav li {
    padding-right: 16px;
}

#menu ul.nav li a {
    padding: 8px 15px;
    color: #fff;
    letter-spacing: 0.28px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 1.3
}

#menu .nav > li > a:hover, #menu .nav > li > a:focus {
    color: #23b1c4;
    background: none;
}

#menu ul.nav li a .menu-item__desc {
    color: #c4c4c4;
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 5px;
    text-transform: none;
    font-style: italic;
}

#menu .btn-navbar {
    font-size: 20px;
    color: #FFF;
    padding: 5px 15px;
    float: none;
    border: 3px solid #fff;
    display: block;
}

#menu .nav .open > a,
#menu .nav .open > a:focus,
#menu .nav .open > a:hover {
    background-color: transparent;
}

@media (min-width: 768px) {
    #menu ul.nav {
        float: right;
        margin-top: 7px;
    }

    #menu ul.nav li a {
        padding: 8px 0;
    }

    #menu ul.nav .dropdown-menu li {
        padding-right: 1px;
    }

    #menu ul.nav .dropdown-menu a {
        padding: 8px 15px;
    }
}

@media (max-width: 767px) {
    #menu {
        background: #222324;
        padding: 10px 0;
    }

    #menu .navbar-brand {
        margin-bottom: 30px;
    }

    #menu .navbar-brand img {
        width: auto;
    }

    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
    }

    #menu .dropdown-inner a {
        width: 100%;
        color: #fff;
    }

    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}


a {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #23b1c4;
}

button {
    border: none;
    outline: 0;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Footer---------------------------------- */
/* ---------------------------------------------------------------------------- */

footer {
    color: #888;
    background-color: #141414;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
}

footer a {
    color: #888;
}

footer a:hover {
    color: #23b1c4;
}

footer .col-footer {
    margin: 10px 0 30px;
}

footer .footer-1 {
}

footer .footer-1 i.fa {
    font-size: 17px;
    margin-right: 10px;
}

footer .footer-2 {
}

footer .footer-3 img {
    padding: 2px;
}

footer .footer-title {
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}

footer .copyright {
    padding: 15px 0;
}

footer .bottom-footer {
    background-color: #000;
}

footer .bottom-footer span {
    color: #888;
    margin: 0;
    line-height: 1;
}

@media (max-width: 767px) {
    footer .bottom-footer .copyright {
        text-align: center;
        padding-bottom: 18px
    }
}
